section {
  list-style: none;
}
.tags {
  display: flex;
  list-style: none;
}
.tag {
  background: lightgray;
  margin-right: var(--spacing);
  padding: 5px;
  border-radius: 5px;
}
.categ {
  margin-right: var(--spacing);
  padding: 5px;
  border-radius: 5px;
}
